<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table_Name</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div id="header">Welcome {{userLog.f_name}}!</div>
            <a href="/logout">Logout</a>
        </div>
        <div class="row">
            <h2>Your Trip Schedules</h2>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th>Description:</th>
                    <th>Travel Start Date:</th>
                    <th>Travel End Date:</th>
                    <th>Plan:</th>
                    <th>Action:</th>
                </tr>
                {% for my in myTrips %}
                <tr>
                    <td><a href="/view/{{my.id}}">{{my.destination}}</a></td>
                    <td>{{my.travel_from}}</td>
                    <td>{{my.travel_to}}</td>
                    <td>{{my.decription}}</td>
                    <td><a href="/cancel/{{my.id}}">Cancel</a> |
                        {% if userLog == my.planner  %}
                        <a href="/deleteTrip/{{my.id}}">Delete</a></td>
                        {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <h2>Others User's Travel Plans</h2>
        </div>
        <div class="row">
            <table>
                    <tr>
                        <th>Name:</th>
                        <th>Travel Start Date:</th>
                        <th>Travel End Date:</th>
                        <th>Do You Want To Join?</th>
                    </tr>
                    {% for non in otherTrips %}
                    <tr>
                        <td><a href="/view/{{non.id}}">{{non.destination}}</a></td>
                        <td>{{non.travel_from}}</td>
                        <td>{{non.travel_to}}</td>
                        <td><a href="/join/{{non.id}}">Join</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="row">
            <a href="/createTrip">Add New Trip</a>
        </div>
        </div>
    </div>
</body>
</html>